/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Typography */

* {
  font-family: sans-serif;
}

.flex {
  display: flex;
}
nav {
  background-color: aquamarine;
  color: #333;
  align-items: center;
  float: left;
  justify-content: space-evenly;
  padding-right: 1rem;
}

nav ul {
  text-decoration: none;
  list-style-type: none;
}

nav li {
  margin: 10px 5px;
}

#wrapper {
  flex-direction: column;
  padding: 2em 2em;
}

.logo {
  height: 50px;
}

.btn {
  margin: auto;
  text-align: center;
  background-color: red;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 15px;
  line-height: 2.5;
  width: 250px;
  margin: 2rem;
}

.btn:hover {
background-color: black;
}

i {
  display: block;
  font-size: 3rem;
  margin: auto;
}


/* #wrapper {} */


#banner {
  background-color: chartreuse;
}

#nav {
  background-color: coral;
  
  
}


#footer {
  background-color: blueviolet;
}

/* Hero Section */

#hero-container {
  background: 
  #fff
  url("/img/bird-s-eye-view-of-three-houses-1546166.jpg")
  no-repeat
  fixed;
  /* shorthand is color, image, repet, and position */
  color: white;
  height: 500px;
  align-items: center;
  flex-wrap: nowrap;
  z-index: -1;
}

/* #hero-overlay {
  background-color: black;
  opacity: .4;
  height: 500px;
  z-index: 1;
} */

/* #hero-block {
   align-items: center; 
} */

#hero-text {
  padding: 5rem 5rem;
  /* flex-basis: ; */
}

#form-container {
  background-color: lightblue;
}

#signup-form-bg {
  background-color: lightskyblue;
}


/* Benefits Section */
#benefits {
flex-direction: column; 
height: 1000px; 
}

#benefits-txt {
  text-align: center;
  padding: 7rem 8rem;
}

#benefits-txt 
h1, 
p {
  margin: 2rem 0;
}

#info-card-block {
  background-color: #eee;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

.info-card {
  background-color: #fff;

  margin: 3em .5em;
  width: 400px;
  height: 400px;
  padding: 3.5em;
  border-radius: 15px;
  padding-top: 6.5em;
  text-align: justify;
  
  
}


/* tools info section */

#tool-col {
  background: 
  #fff
  url("/img/bird-s-eye-view-of-three-houses-1546166.jpg")
  no-repeat
  fixed;
  /* shorthand is color, image, repet, and position */
  color: white;
  height: 500px;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-evenly;
}
#tool-col1 {
  background-color: lightgrey;
  flex-basis: content;
}

#tool-col2 {
  background-color: yellowgreen;
  flex-basis: content;
}



/*  Newsletter form */
#news-form-container {
  background-color: lightpink;
  height: 500px;
  align-items: center;
  justify-content: center;
}

#news-form-bg {
  /* flex? */
  height: 250px;
  background-color: white;
  width: 50%;
  align-items: center;
  justify-content: center;
}

/* about us form */

#about-us {
background-color: yellow;
}

/* bio section */
#bio-section {
  background-color: blue;
}

/* .bio {} */

/* .flex-cont {} */

/* .lena-bio {} */

/* .kayela-bio */

/* .jill-bio */